<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>404431621277-v41spq6g9nuv6t7qhphgpaflsahc5mpg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.404431621277-v41spq6g9nuv6t7qhphgpaflsahc5mpg</string>
	<key>API_KEY</key>
	<string>AIzaSyDBXWLlzoukb7DmSVVi_HtE1ZhCzFK2XGM</string>
	<key>GCM_SENDER_ID</key>
	<string>404431621277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-b7161</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-b7161.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:404431621277:ios:64312b96f73d733e9f5874</string>
</dict>
</plist>